<p-table [columns]="_columns()" [value]="items" *ngIf="hasItems()">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <span data-table-header-value>{{col.header}}</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-columns="columns">
    <tr data-table-row>
      <td *ngFor="let col of columns" [attr.data-table-column]="col.field">
        {{item[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
