<p-table [columns]="_columns()" [value]="items" *ngIf="hasItems()" (onRowSelect)="onRowSelect.emit($event)" [selectionMode]="selectionMode">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <span data-table-header-value>{{col.header}}</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr data-table-row [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" [attr.data-table-column]="col.field">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
