<div *ngIf="isAuthenticated$ | async" class="side-nav-bar" [ngClass]="{ 'opened' : isOpenedNavBar }" (click)="toggleNavBar()">
  <ul class="side-nav-items side-nav-items--header">
    <li class="side-nav-item">
      <span class="closed-title">App</span>
      <span class="closable">Git API App ver.1</span>
    </li>
  </ul>
  <ul class="side-nav-items side-nav-items--contents">
    <li class="side-nav-item selectable" (click)="clickNavItem($event)">
      <a [href]="'/commits'">
        <span class="icon material-icons">list_alt</span>
        <span class="closable">Commits</span>
      </a>
    </li>
  </ul>
  <ul class="side-nav-items side-nav-items--footer">
    <li class="side-nav-item selectable" (mouseenter)="toggleSettingMenu()" (mouseleave)="toggleSettingMenu()">
      <span>
        <span class="icon material-icons">account_circle</span>
        <span class="closable">Setting</span>
      </span>
      <div class="overlay-panel" [ngClass]="{ 'opened' : isOpenedSettingMenu }">
        <ul class="menu">
          <li class="menu-item selectable">
            <a (click)="logout()">
              <span>Logout</span>
            </a>
          </li>
          <li class="menu-item selectable">
            <a href="#account">
              <span>Account</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<main>
  <router-outlet></router-outlet>
</main>
