<div class="side-nav-bar">
  <ul class="side-nav-items side-nav-items--header">
    <li class="side-nav-item">
      <span>Git API App ver.1</span>
    </li>
  </ul>
  <ul class="side-nav-items side-nav-items--contents">
    <li class="side-nav-item selectable">
      <a href="http://localhost:4200/commits">
        <span class="icon material-icons">list_alt</span>
        <span>Commits</span>
      </a>
    </li>
  </ul>
  <ul class="side-nav-items side-nav-items--footer">
    <li class="side-nav-item selectable">
      <a>
        <span class="icon material-icons">account_circle</span>
        <span>Setting</span>
      </a>
    </li>
  </ul>
</div>
<main>
  <router-outlet></router-outlet>
</main>
