<div class="side-nav-bar">
  <ul class="side-nav-items side-nav-items--header">
    <li class="side-nav-item">
      <span>Git API App ver.1</span>
    </li>
  </ul>
  <ul class="side-nav-items side-nav-items--contents">
    <li class="side-nav-item">
      <a>
        Commits
      </a>
    </li>
  </ul>
  <ul class="side-nav-items side-nav-items--footer">
    <li class="side-nav-item">
      <a>
        Setting
      </a>
    </li>
  </ul>
</div>
<main>
  <router-outlet></router-outlet>
</main>
