$fontColor: white;
$notSelectedColor: #8d8d8d;
$sidebarBackgroundColor: #4c4c4c;
$sidebarHoveredBackgroundColor: #343434;
$overlayZIndex: 2;

:host {
  display: flex;

  > .side-nav-bar {
    flex: 0 0 auto;
    height: 100vh;
    width: 60px;
    &.opened {
      width: 200px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $sidebarBackgroundColor;
    color: $fontColor;
    font-weight: bold;

    > .side-nav-items--header {
      flex: 0 1 auto;
    }
    > .side-nav-items--contents {
      flex: 1 1 auto;
    }
    > .side-nav-items--footer {
      flex: 0 1 auto;
    }

    transition: width .3s ease-in-out;
    & .side-nav-item {
      & .closable {
        display: none;
      }

      & .closed-title {
        display: inherit;
      }
    }
    &.opened {
      .side-nav-item {
        & .closable {
          display: inherit;
        }

        & .closed-title {
          display: none;
        }
      }
    }
  }

  > main {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 16px;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.side-nav-item {
  & > a, & > span {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  & span {
    white-space: nowrap;
    overflow: hidden;
  }

  & .icon {
    margin-right: 10px;
  }

  &.selectable {
    color: $notSelectedColor;
    &:hover {
      color: $fontColor;
      background-color: $sidebarHoveredBackgroundColor;
      cursor: pointer;
    }

    & > a {
      color: inherit;
      // [NOTE] 親要素のサイズに合わせてhrefを有効にするための設定
      &::after {
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: auto;
        background-color: transparent;
      }
    }
  }
}

.overlay-panel {
  position: relative;
  left: 100%;
  color: $fontColor;
  display: none;
  &.opened {
    display: block;
  }

  & > .menu {
    position: absolute;
    background-color: $sidebarBackgroundColor;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
    min-width: 10ch;
    z-index: $overlayZIndex;
    bottom: calc(50%);

    & .menu-item {
      & > a, & > span {
        display: flex;
        align-items: center;
        padding: 0.625em;
      }

      &.selectable {
        color: $notSelectedColor;
        line-height: 1.5em;
        &:hover {
          color: $fontColor;
          background-color: $sidebarHoveredBackgroundColor;
          cursor: pointer;
        }

        & > a {
          color: inherit;
        }
      }
    }
  }
}
