$fontColor: white;
$notSelectedColor: #8d8d8d;

:host {
  display: flex;

  > .side-nav-bar {
    flex: 0 0 auto;
    background-color: #4c4c4c;
    color: $fontColor;
    font-weight: bold;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .side-nav-items--header {
      flex: 0 1 auto;
    }

    > .side-nav-items--contents {
      flex: 1 1 auto;
    }

    > .side-nav-items--footer {
      flex: 0 1 auto;
    }
  }

  > main {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 16px;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.side-nav-item {
  & > a, & > span {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  & .icon {
    margin-right: 10px;
  }

  &.selectable {
    color: $notSelectedColor;
    &:hover {
      color: $fontColor;
      background-color: #343434;
      cursor: pointer;
    }

    > a {
      color: inherit;
      // [NOTE] 親要素のサイズに合わせてhrefを有効にするための設定
      &::after {
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: auto;
        background-color: transparent;
      }
    }
  }
}
