#search-condition-form {
  width: 100%;
}
.repository-data-view {
  display: inline-block;
  width: 100%;
}
label {
  margin-right: 10px;
}
.commit-details {
  padding: 1em;
  border-bottom: 1px solid #d9dad9;
}
