<form id="search-condition-form" class="ui-g-12 ui-md-4 app-form">
  <div class="form-item">
    <label for="date-range">Date Range</label>
    <p-calendar id="date-range" name="rangeDates" inputStyleClass="range-dates-input"
                [(ngModel)]="selectedRange"
                selectionMode="range" dateFormat="yy/mm/dd"
                [showButtonBar]="true"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="yearRange"
    ></p-calendar>
  </div>
  <app-button class="form-item" (onClick)="submit()">Search</app-button>
</form>
<ng-container *ngIf="!loading">
  <ng-container *ngFor="let repository of repositories">
    <div class="repository-container">
      <div class="repository-header">{{repository.name}}</div>
      <div class="repository-data-view">
        <ul>
          <li class="commit-item" *ngFor="let commit of repository.commits">
            <a [href]="commit.commitUrl" target="_blank">{{commit.message}}
              / {{commit.committedDate | date: 'yyyy/MM/dd HH:mm:ss '}}</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</ng-container>
<app-loading-wave *ngIf="loading"></app-loading-wave>

