/* You can add global styles to this file, and also import other style files */

// PrimeNG
.range-dates-input {
  width: 178px;
}

main {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}
